<div class="container-fluid" id="header-container">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
      <!-- Indicators -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @cms_homepage.header_image_1.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_1 %></h1>
              <p><%= @cms_homepage.header_caption_1.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_2.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_2 %></h1>
              <p><%= @cms_homepage.header_caption_2.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_3.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_3 %></h1>
              <p><%= @cms_homepage.header_caption_3.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_4.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_4 %></h1>
              <p><%= @cms_homepage.header_caption_4.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_5.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_5 %></h1>
              <p><%= @cms_homepage.header_caption_5.html_safe %></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="container-fluid" id="description-container">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <p><%= @cms_homepage.main_description.html_safe %></p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="description-image-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>How we can help you</h2>
        <%= image_tag @cms_homepage.description_image.url %>
      </div>
    </div>
  </div>
</div>
<div class="container" id="news-container">
  <div class="row">
    <% @news.last(3).each do |n| %>
      <div class="col-sm-4">
        <p id="news-title"><%= n.title %></p>
        <p id="news-content"><%= n.summary %>...<%= link_to 'Read more', n %></p>
      </div>
    <% end %>
  </div>
</div>
