<div class="container-fluid" id="header-container">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @cms_homepage.header_image_1.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_1 %></h1>
              <p><%= @cms_homepage.header_caption_1 %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_2.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_2 %></h1>
              <p><%= @cms_homepage.header_caption_2 %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_3.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_3 %></h1>
              <p><%= @cms_homepage.header_caption_3 %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_4.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_4 %></h1>
              <p><%= @cms_homepage.header_caption_4 %></p>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag @cms_homepage.header_image_5.url %>
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cms_homepage.header_title_5 %></h1>
              <p><%= @cms_homepage.header_caption_5 %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="description-container">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12">
        <p><%= @cms_homepage.main_description.html_safe %></p>
      </div>
    </div>
  </div>
</div>
<div class="container" id="description-image-container">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-4">
        <div id="cta-buttons">
          <i class="fa fa-calculator fa-5x" aria-hidden="true"></i><br />
          <a href="">Tax Planning</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="cta-buttons">
          <i class="fa fa-money fa-5x" aria-hidden="true"></i><br />
          <a href="">Wealth Management</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="cta-buttons">
          <i class="fa fa-book fa-5x" aria-hidden="true"></i><br />
          <a href="">Second Passport</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="news-container">
  <div class="row">
    <% @news.last(3).each do |n| %>
      <div class="col-sm-4">
        <p id="news-title"><%= n.title %></p>
        <p id="news-content"><%= n.content %></p>
        <%= link_to 'read more', n.link %></p>
      </div>
    <% end %>
  </div>
</div>
