<div class="container" id="pages-index">
  <div class="row">
    <div class="col-sm-12">
      <p id="notice"><%= notice %></p>

      <h1>Cms Pages</h1>

      <table>
        <thead>
          <tr>
            <th>Page</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cms_pages.each do |cms_page| %>
            <tr>
              <td><%= cms_page.title %></td>
              <td><%= link_to 'Show', cms_page %></td>
              <td><%= link_to 'Edit', edit_cms_page_path(cms_page) %></td>
              <td><%= link_to 'Destroy', cms_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Cms page', new_cms_page_path %>
    </div>
  </div>
</div>
