<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>
      <p>You are logged in. If you wish to exit <%= link_to "Logout", :logout, id: "logout-link", method: :post %></p>
    </div>
    <div class="col-sm-3">
      <div class="list-group">
        <a href="/admin" class="list-group-item">Admin</a>
        <a href="/admin/pages" class="list-group-item">Pages</a>
        <a href="/admin/contacts" class="list-group-item">Contacts</a>
        <a href="/admin/news" class="list-group-item active">News</a>
        </div>
    </div>
    <div class="col-sm-9">
      <p id="notice"><%= notice %></p>
      <table>

        <tbody>
          <% @news.each do |news| %>
            <tr>
              <td><%= news.title %></td>
              <td><button class="btn-info"><%= link_to 'Show', news %></button></td>
              <td><button class="btn-warning"><%= link_to 'Edit', edit_news_path(news) %></button></td>
              <td><button class="btn-danger"><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New News page', new_news_path %>
    </div>
  </div>
</div>
