<div class="container" id="dashboard-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Dashboard</h1>
      <p>You are logged in. If you wish to exit <%= link_to "Logout", :logout, id: "logout-link", method: :post %></p>
    </div>
    <div class="col-sm-3">
      <div class="list-group">
        <a href="/admin" class="list-group-item">Admin</a>
        <a href="/admin/pages" class="list-group-item active">Pages</a>
        <a href="/admin/contacts" class="list-group-item">Contacts</a>
        <a href="/admin/news" class="list-group-item">News</a>
        </div>
    </div>
    <div class="col-sm-9">
      <p id="notice"><%= notice %></p>
      <table>

        <tbody>
          <% @cms_pages.each do |cms_page| %>
            <tr>
              <td width="70%"><%= cms_page.title %></td>
              <td width="10%"><button class="btn-info"><%= link_to 'Show', cms_page %></button></td>
              <td width="10%"><button class="btn-warning"><%= link_to 'Edit', edit_cms_page_path(cms_page) %></button></td>
              <td width="10%"><button class="btn-danger"><%= link_to 'Destroy', cms_page, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>
