<%= form_for(@cms_homepage) do |f| %>
  <% if @cms_homepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_homepage.errors.count, "error") %> prohibited this cms_homepage from being saved:</h2>

      <ul>
      <% @cms_homepage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header_title_1 %><br>
    <%= f.text_field :header_title_1, placeholder: @cms_homepage.header_title_1 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_1 %><br>
    <%= f.text_field :header_caption_1 %>
  </div>
  <div class="field">
    <%= f.label :header_image_1 %><br>
    <%= f.file_field :header_image_1 %>
  </div>
  <div class="field">
    <%= f.label :header_title_2 %><br>
    <%= f.text_field :header_title_2 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_2 %><br>
    <%= f.text_field :header_caption_2 %>
  </div>
  <div class="field">
    <%= f.label :header_image_2 %><br>
    <%= f.file_field :header_image_2 %>
  </div>
  <div class="field">
    <%= f.label :header_title_3 %><br>
    <%= f.text_field :header_title_3 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_3 %><br>
    <%= f.text_field :header_caption_3 %>
  </div>
  <div class="field">
    <%= f.label :header_image_3 %><br>
    <%= f.file_field :header_image_3 %>
  </div>
  <div class="field">
    <%= f.label :header_title_4 %><br>
    <%= f.text_field :header_title_4 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_4 %><br>
    <%= f.text_field :header_caption_4 %>
  </div>
  <div class="field">
    <%= f.label :header_image_4 %><br>
    <%= f.file_field :header_image_4 %>
  </div>
  <div class="field">
    <%= f.label :header_title_5 %><br>
    <%= f.text_field :header_title_5 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_5 %><br>
    <%= f.text_field :header_caption_5 %>
  </div>
  <div class="field">
    <%= f.label :header_image_5 %><br>
    <%= f.file_field :header_image_5 %>
  </div>
  <div class="field">
    <%= f.label :main_description %><br>
    <%= f.cktext_area :main_description, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :description_image %><br>
    <%= f.file_field :description_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
