<%= form_for(@cms_homepage) do |f| %>
  <% if @cms_homepage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cms_homepage.errors.count, "error") %> prohibited this cms_homepage from being saved:</h2>

      <ul>
      <% @cms_homepage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :header_title_1, 'Enter title for slide 1' %><br>
    <%= f.text_field :header_title_1, placeholder: @cms_homepage.header_title_1 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_1, 'Enter caption for slide 1' %><br>
    <%= f.text_field :header_caption_1, placeholder: @cms_homepage.header_caption_1 %>
  </div>
  <div class="field">
    <%= f.label :header_image_1, 'Upload image for slide 1' %><br>
    <%= f.file_field :header_image_1 %>
  </div>
  <div class="field">
    <%= f.label :header_title_2, 'Enter title for slide 2' %><br>
    <%= f.text_field :header_title_2, placeholder: @cms_homepage.header_title_2 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_2, 'Enter caption for slide 2' %><br>
    <%= f.text_field :header_caption_2, placeholder: @cms_homepage.header_caption_2 %>
  </div>
  <div class="field">
    <%= f.label :header_image_2, 'Upload image for slide 2' %><br>
    <%= f.file_field :header_image_2 %>
  </div>
  <div class="field">
    <%= f.label :header_title_3, 'Enter title for slide 3' %><br>
    <%= f.text_field :header_title_3, placeholder: @cms_homepage.header_title_3 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_3, 'Enter caption for slide 3' %><br>
    <%= f.text_field :header_caption_3, placeholder: @cms_homepage.header_caption_3 %>
  </div>
  <div class="field">
    <%= f.label :header_image_3, 'Upload image for slide 3' %><br>
    <%= f.file_field :header_image_3 %>
  </div>
  <div class="field">
    <%= f.label :header_title_4, 'Enter title for slide 4' %><br>
    <%= f.text_field :header_title_4, placeholder: @cms_homepage.header_title_4 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_4, 'Enter caption for slide 4' %><br>
    <%= f.text_field :header_caption_4, placeholder: @cms_homepage.header_caption_4 %>
  </div>
  <div class="field">
    <%= f.label :header_image_4, 'Upload image for slide 4' %><br>
    <%= f.file_field :header_image_4 %>
  </div>
  <div class="field">
    <%= f.label :header_title_5, 'Enter title for slide 5' %><br>
    <%= f.text_field :header_title_5, placeholder: @cms_homepage.header_title_5 %>
  </div>
  <div class="field">
    <%= f.label :header_caption_5, 'Enter caption for slide 5' %><br>
    <%= f.text_field :header_caption_5, placeholder: @cms_homepage.header_caption_5 %>
  </div>
  <div class="field">
    <%= f.label :header_image_5, 'Upload image for slide 5' %><br>
    <%= f.file_field :header_image_5 %>
  </div>
  <div class="field">
    <%= f.label :main_description, 'Use the text editor to enter a description' %><br>
    <%= f.cktext_area :main_description, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :description_image, 'Upload diagram' %><br>
    <%= f.file_field :description_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
