<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Pardini Wealth</title>
      <meta name="description" content="Panama Law Firm specialized in Panama Family Office, Panama Private Wealth, Citizenship by Investment">
      <meta name="keywords" content="Panama Family Office, Panama Private Wealth, Citizenship by Investment">
    <% end %>
    <%= stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true  %>
    <%= favicon_link_tag 'favicon.ico' %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render :partial => 'layouts/supraheader' %>
    <%= render :partial => 'layouts/header' %>
      <%= yield %>
    <%= render :partial => 'layouts/footer' %>
  </body>
</html>
